.header .shortcut .nav .left .header-userName {
  color: #f51439;
  display: inline-block;
  margin: 0 35px 0 30px;
  padding-left: 18px;
  background: url("../img/bg42.png") no-repeat left 4px;
}
.content-main {
  width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 30px 0 50px;
}
.content-main .order-progress {
  width: 999px;
  margin: 0 auto 42px;
  padding-bottom: 53px;
  background: url("../img/bg37.png") no-repeat bottom;
}
.content-main .order-progress li {
  font-size: 14px;
  color: #3c3c3c;
  line-height: 35px;
  float: left;
}
.content-main .order-progress li:first-child {
  margin-right: 180px;
}
.content-main .order-progress li:nth-of-type(2) {
  margin-right: 165px;
}
.content-main .order-progress li:nth-of-type(3) {
  margin-right: 165px;
}
.content-main .order-progress li:nth-of-type(4) {
  margin-right: 195px;
}
.content-main .order-number {
  width: 1200px;
  margin: 0 auto;
  line-height: 50px;
}
.content-main .order-number p {
  color: #6c6c6c;
  font-size: 14px;
  padding-left: 20px;
  display: inline-block;
  margin-right: 40px;
}
.content-main .order-number p span {
  color: #fe0000;
}
.content-main .order-info {
  width: 1200px;
  margin: 0 auto;
  padding: 6px 0 15px;
  background: #f5f5f5;
}
.content-main .order-info dt {
  line-height: 40px;
  font-size: 18px;
  color: #3c3c3c;
  margin-left: 25px;
}
.content-main .order-info dd {
  margin-left: 60px;
  font-size: 12px;
  color: #3c3c3c;
  line-height: 25px;
}
.content-main .order-info dd span {
  color: #f11023;
}
.content-main .pro-logistics {
  width: 1175px;
  margin: 0 auto;
  padding-left: 25px;
  background: #f5f5f5;
}
.content-main .pro-logistics .logistics-title {
  font-size: 18px;
  color: #2a2a2a;
  line-height: 64px;
}
.content-main .pro-logistics .pro-logistics-info {
  margin-bottom: 50px;
}
.content-main .pro-logistics .pro-logistics-info p {
  display: inline-block;
  font-size: 12px;
  color: #2a2a2a;
  line-height: 14px;
  margin-right: 55px;
}
.content-main .pro-logistics .pro-logistics-info p span {
  color: #fe0000;
}
.content-main .pro-logistics .pro-logistics-list {
  background: url("../img/bg38.png") no-repeat top left;
  margin-left: 27px;
  padding: 1px 0 7px 25px;
}
.content-main .pro-logistics .pro-logistics-list li {
  font-size: 12px;
  color: #9b9b9b;
  line-height: 12px;
  margin-bottom: 30px;
  padding-top: 2px;
}
.content-main .pro-logistics .pro-logistics-list li span {
  margin-right: 28px;
}
.content-main .pro-logistics .pro-logistics-list li:first-child {
  color: #fe0000;
}
.content-main .product-info {
  width: 1200px;
  margin: 20px auto 0;
  border: 1px solid #e3e3e3;
}
.content-main .product-info .product-info-top {
  width: 967px;
  padding-left: 233px;
  background: #e3e3e3;
}
.content-main .product-info .product-info-top li {
  float: left;
  margin-right: 155px;
  font-size: 16px;
  color: #676767;
  line-height: 54px;
}
.content-main .product-info .product-info-down {
  padding: 50px 0 15px 40px;
}
.content-main .product-info .product-info-down img {
  width: 111px;
  height: 111px;
  margin-right: 33px;
  float: left;
}
.content-main .product-info .product-info-down span {
  display: block;
}
.content-main .product-info .product-info-down .pro-down-info {
  text-align: center;
  font-size: 12px;
  float: left;
  color: #565656;
  margin-right: 90px;
  margin-top: 44px;
}
.content-main .product-info .product-info-down .pro-down-unit-price {
  text-align: center;
  float: left;
  font-size: 12px;
  margin-top: 35px;
  color: #aaa;
  margin-right: 190px;
}
.content-main .product-info .product-info-down .pro-down-unit-price span {
  color: #f11023;
  text-decoration: none;
  padding-top: 12px;
}
.content-main .product-info .product-info-down .pro-down-quantity {
  text-align: center;
  font-size: 14px;
  color: #565656;
  line-height: 111px;
  float: left;
  margin-right: 165px;
}
.content-main .product-info .product-info-down .pro-down-total-price {
  text-align: center;
  margin-top: 38px;
  float: left;
  font-size: 12px;
  color: #292929;
}
.content-main .product-info .product-info-down .pro-down-total-price span {
  padding-top: 8px;
}
