* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: "微软雅黑";
}
img {
  display: block;
  border: none;
}
input {
  border: none;
  background: none;
  outline: none;
  display: block;
  font-family: "微软雅黑";
}
button {
  background: none;
  border: none;
}
textarea {
  display: block;
  outline: none;
  overflow: hidden;
  resize: none;
  background: none;
  border: none;
}
a {
  outline: none;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.clearFix:before,
.clearFix:after {
  clear: both;
  width: 0;
  height: 0;
  content: "";
  visibility: hidden;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.main {
  width: 791px;
  height: 541px;
  border: 2px solid #c9c9c9;
  background: #f2f2f2;
  position: absolute;
  padding: 20px 25px 35px 30px;
  top: 50%;
  left: 50%;
  margin-top: -302px;
  margin-left: -422px;
}
.main h5 {
  font-size: 14px;
  color: #343434;
  margin-bottom: 30px;
}
.main p {
  line-height: 28px;
  font-size: 12px;
  color: #8c8c8c;
}
.main p span {
  font-size: 14px;
  color: #3d3d3d;
}
.main ul {
  margin: 5px 0 20px;
}
.main ul li {
  font-size: 14px;
  color: #3d3d3d;
  line-height: 30px;
}
.main h6 {
  padding: 25px 0;
  line-height: 16px;
  font-size: 14px;
  color: #343434;
}
.main .friendLink {
  float: left;
}
.main .friendLink a {
  display: block;
  margin-bottom: 17px;
  font-size: 14px;
  color: #ff0000;
}
.main .btn a {
  color: #fefefe;
  font-size: 14px;
  width: 133px;
  height: 29px;
  display: block;
  margin: 40px auto 0;
  text-align: center;
  line-height: 29px;
  background: #ff0000;
}
